<p id="notice"><%= notice %></p>

<h1>Generador de Aulas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Piso</th>
      <th>Capacidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aulas.each do |aula| %>
      <tr>
        <td><%= aula.numero %></td>
        <td><%= aula.piso %></td>
        <td><%= aula.capacidad %></td>
        <td><%= link_to 'Mostrar', aula %></td>
        <td><%= link_to 'Editar', edit_aula_path(aula) %></td>
        <td><%= link_to 'Eliminar', aula, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Aula', new_aula_path %>
<a href="/">Volver a página principal</a>
