
<div id="wrapper">
  <fieldset>
    <p id="notice"><%= notice %></p>
      <legend>Curso Generado</legend>
      <div>
      <p>
        <strong>Nombre:</strong>
        <%= @curso.nombre %>
     </p>
    </div>
    <div>
      <p>
      <strong>Carrera:</strong>
      <%= @curso.carrera %>
      </p>
    </div>
    <div>
      <p>
      <strong>Carrera:</strong>
      <%= @curso.carrera %>
      </p>
    </div>
    <div>
    <p>
      <strong>Cantidadalumnos:</strong>
      <%= @curso.cantidadalumnos %>
    </p>
  </fieldset>    
</div>


	<p>
  <strong>Turno:</strong>
  <%= @curso.turno %>
</p>

<p>
  <strong>Comision:</strong>
  <%= @curso.comision %>
</p>

<p>
  <strong>Asignado:</strong>
  <%= @curso.asignado %>
</p>

<div class="btn">
<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Volver', cursos_path %>
</div>
