<h1>Generador de Horarios UAI</h1>
<h2>Tutor: <%= @tutor %></h2>
<p>Cargue las aulas <a href="/aulas">AQUI</a></p>
<p>Cargue los cursos <a href="/cursos">AQUI</a></p>

<h2>Cantidad de aulas cargadas: <%= @aulascargadas %></h2>
<h2>Cantidad de aulas cargadas: <%= @aulascargadas %></h2>
<h2>Cantidad de cursos cargados: <%= @cursoscargados %></h2>

<h2>Cursos cargados turno mañana: <%= @cursosmañana.count %></h2>
<h2>Cursos cargados turno tarde: <%= @cursostarde.count %></h2>
<h2>Cursos cargados turno noche: <%= @cursosnoche.count %></h2>


<% if @aulascargadas >= 1 %>

    <p> hay <%= @aulascargadas %> aulas cargadas </p>

            <% if @cursoscargados >=1 %>

            <p> hay <%= @cursoscargados %> cursos cargadas </p>


                    <% @aulastodas.each do |p| %>

                        

                        <table border=1>

                        <p>Aula <%= p.numero %> </p>

                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>           
                   
                        
                        <tr>
                        <% x=1%>
                        <% @cursosmañana.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <th>Curso: <%= c.nombre %></th>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% @cursosmañana.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% @cursosmañana.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <td>Turno: <%= c.turno %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 
                        
                        <br> 
                        

                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>           
                   
                        
                        <tr>
                        <% x=1%>
                        <% @cursostarde.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <th>Curso: <%= c.nombre %></th>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% @cursostarde.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% @cursostarde.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <td>Turno: <%= c.turno %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 


                        <br> 


                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>           
                   
                        
                        <tr>
                        <% x=1%>
                        <% @cursosnoche.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <th>Curso: <%= c.nombre %></th>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% @cursosnoche.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% @cursosnoche.each do |c| %>      
                        <% if x <=5 && !c.asignado %>                    
                        <td>Turno: <%= c.turno %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 



                        
                        
                    <% end %>

                        </table>

                    <p>Los siguientes cursos no tienen aulas disponibles:</p>

                    <% @cursosmañana.each do |c| %>
                    <% if !c.asignado %>                    
                    <p>Curso: <%= c.nombre %> Comision: <%= c.comision %> Turno: <%= c.turno %></p>          
                    <% end %>
                    <% end %>


            <% else %>
            
            <p> no hay <%= @cursoscargados %> cursos cargadas </p>

            <% end if %>




<% else %>

<p> No hay aulas cargadas </p>
<p> Estos cursos no podrán ubicarse:</p>

<% @cursosnoche.each do |p| %>
<td><%= p.nombre %></td>
<% end %>

<% end %>



 
