<h1>Generador de Horarios UAI</h1>
<h2>Tutor: <%= @tutor %></h2>
<p>Cargue las aulas <a href="/aulas">AQUI</a></p>
<p>Cargue los cursos <a href="/cursos">AQUI</a></p>

<h2>Cantidad de aulas cargadas: <%= @aulascargadas %></h2>
<h2>Cantidad de cursos cargados: <%= @cursoscargados %></h2>

<h2>Cursos cargados turno ma침ana: <%= @cursosma침ana.count %></h2>
<h2>Cursos cargados turno tarde: <%= @cursostarde.count %></h2>
<h2>Cursos cargados turno noche: <%= @cursosnoche.count %></h2>



<% if @aulascargadas >= 1 %>

    <p> hay <%= @aulascargadas %> aulas cargadas </p>
    
                

                <% if @cursoscargados >=1 %>

                <% @aulastodas.each do |p| %>

                            <% if p.asignada=true %>

                            <p>Aula <%= p.numero %> Turno Ma침ana </p>

                            <table border=1>
                            <tr>
                            <% @dias.each do |p| %>
                            <td><%= p %></td>
                            <% end %>
                            </tr>

                </table>



                <% else %>

                <% end %>


<% else %>

    <p> No hay aulas cargadas </p>
    <p> Estos cursos no podr치n ubicarse:</p>

    <% @cursosnoche.each do |p| %>
    <td><%= p.nombre %></td>
    <% end %>

<% end %>