<h1>Generador de Horarios UAI</h1>
<h2>Tutor: <%= @tutor %></h2>
<p>Cargue las aulas <a href="/aulas">AQUI</a></p>
<p>Cargue los cursos <a href="/cursos">AQUI</a></p>

<h2>Cantidad de aulas cargadas: <%= @aulascargadas %></h2>
<h2>Cantidad de cursos cargados: <%= @cursoscargados %></h2>

<h2>Cursos cargados turno mañana: <%= @cursosmañana.count %></h2>
<h2>Cursos cargados turno tarde: <%= @cursostarde.count %></h2>
<h2>Cursos cargados turno noche: <%= @cursosnoche.count %></h2>

<br>

<% if @aulascargadas >= 1 %>

            <% if @cursoscargados >=1 %>

                <% aulas_sort= @aulastodas.sort_by{|e| -e[:capacidad]} %>

                <% curso_tm_sort= @cursosmañana.sort_by{|e| -e[:cantidadalumnos]} %>
                <% curso_tt_sort= @cursostarde.sort_by{|e| -e[:cantidadalumnos]} %>
                <% curso_tn_sort= @cursosnoche.sort_by{|e| -e[:cantidadalumnos]} %>









                         <% aulas_sort.each do |p| %>

                        

                        <table border=1>

                        
<%# AQUI VA CON CONDICIONAL PISO 7 y Carrera Ingenieria en Sistemas%>

<% if p.piso==7 %>

<p><strong>Aula <%= p.numero %> - Piso: <%= p.piso %> - Capacidad: <%= p.capacidad %> - PRIORIDAD PARA ING. EN SISTEMAS</strong></p>


                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>   

                        <tr>
                        <% x=1%>
                        <% curso_tm_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7 %>                    
                        <td>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        <% if x <= 5 %>
                        <% while x <=5 %>
                        <td ROWSPAN="3">Aula Disponible</td>
                        <% x= x+1 %>
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% curso_tm_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                               
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% curso_tm_sort.each do |c| %>                  
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Turno: <%= c.turno %> Cant. Alum: <%= c.cantidadalumnos %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 

                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>           
                   
                        
                        <tr>
                        <% x=1%>
                        <% curso_tt_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %></td>
                        <% x = x + 1 %>                       
                        <% end %>                    
                        <% end %>
                        <% if x <= 5 %>
                        <% while x <=5 %>
                        <td ROWSPAN="3">Aula Disponible</td>
                        <% x= x+1 %>
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% curso_tt_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% curso_tt_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Turno: <%= c.turno %> Cant. Alum: <%= c.cantidadalumnos %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 

                         <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>           
                   
                        
                        <tr>
                        <% x=1%>
                        <% curso_tn_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        <% if x <= 5 %>
                        <% while x <=5 %>
                        <td ROWSPAN="3">Aula Disponible</td>
                        <% x= x+1 %>
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% curso_tn_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% curso_tn_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && c.carrera!="Lic. en Informática" && p.piso==7%>                
                        <td>Turno: <%= c.turno %> Cant. Alum: <%= c.cantidadalumnos %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr>



                                
                   


<% end %>

<% end %>

</table>

<% aulas_sort.each do |p| %>

    <% if p.piso!=7 %>

<p><strong>Aula <%= p.numero %> - Piso: <%= p.piso %> - Capacidad: <%= p.capacidad %> </strong></p>

<table border=1>

                        

                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>   

                        <tr>
                        <% x=1%>
                        <% curso_tm_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                    
                        <td>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        <% if x <= 5 %>
                        <% while x <=5 %>
                        <td ROWSPAN="3">Aula Disponible</td>
                        <% x= x+1 %>
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% curso_tm_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% curso_tm_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                   
                        <td>Turno: <%= c.turno %> Cant. Alum: <%= c.cantidadalumnos %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 
                     
                         <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>  


                        <tr>
                        <% x=1%>
                        <% curso_tt_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                    
                        <td>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %></td>
                        <% x = x + 1 %>                       
                        <% end %>                    
                        <% end %>
                        <% if x <= 5 %>
                        <% while x <=5 %>
                        <td ROWSPAN="3">Aula Disponible</td>
                        <% x= x+1 %>
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% curso_tt_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                 
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% curso_tt_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                   
                        <td>Turno: <%= c.turno %> Cant. Alum: <%= c.cantidadalumnos %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>    
                        <% @dias.each do |p| %>
                        <th><%= p %></th>
                        <% end %>
                        </tr>   

                        <tr>
                        <% x=1%>
                        <% curso_tn_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                   
                        <td>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        <% if x <= 5 %>
                        <% while x <=5 %>
                        <td ROWSPAN="3">Aula Disponible</td>
                        <% x= x+1 %>
                        <% end %>
                        <% end %>
                        </tr>

                        <tr>
                        <% x=1%>
                        <% curso_tn_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>              
                        <td>Comision: <%= c.comision %></td>
                        <% x = x + 1 %>                       
                        <% end %>
                        <% end %>
                        </tr>               
                        
                        <tr>
                        <% x=1%>
                        <% curso_tn_sort.each do |c| %>      
                        <% if x <=5 && !c.asignado && c.cantidadalumnos <= p.capacidad && p.piso!=7 %>                    
                        <td>Turno: <%= c.turno %> Cant. Alum: <%= c.cantidadalumnos %></td>
                        <% x = x + 1 %>      
                        <% c.toggle(:asignado) %>                 
                        <% end %>
                        <% end %>
                        </tr> 


<% end %>

</table>

<% end %>

                       



                    <% max=0 %>
                    <% aulas_sort.each do |m| %>
                    <% if m.capacidad > max %>
                    <% max=m.capacidad %>
                    <% end %>
                    <% end %>


                    <p>Los siguientes cursos no tienen aulas asignadas por exceso de alumnos en el curso:</p>

                    <% curso_tm_sort.each do |c| %>
                    <% if !c.asignado && c.cantidadalumnos > max %>                    
                    <p>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %> - Comision: <%= c.comision %> - Turno: <%= c.turno %> - Capacidad: <%= c.cantidadalumnos %></p>          
                    <% end %>
                    <% end %>

                     <% curso_tt_sort.each do |c| %>
                    <% if !c.asignado && c.cantidadalumnos > max %>                    
                    <p>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %> - Comision: <%= c.comision %> - Turno: <%= c.turno %> - Capacidad: <%= c.cantidadalumnos %></p>          
                    <% end %>
                    <% end %>

                     <% curso_tn_sort.each do |c| %>
                    <% if !c.asignado && c.cantidadalumnos > max %>                    
                    <p>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %> - Comision: <%= c.comision %> - Turno: <%= c.turno %> - Capacidad: <%= c.cantidadalumnos %></p>          
                    <% end %>
                    <% end %>

                    <p>Los siguientes cursos no tienen aulas disponibles por falta de aulas:</p>

                    <% curso_tm_sort.each do |c| %>
                    <% if !c.asignado && c.cantidadalumnos <= max %>                    
                    <p>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %> - Comision: <%= c.comision %> - Turno: <%= c.turno %> - Capacidad: <%= c.cantidadalumnos %></p>          
                    <% end %>
                    <% end %>

                    <% curso_tt_sort.each do |c| %>
                    <% if !c.asignado && c.cantidadalumnos <= max %>                    
                    <p>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %> - Comision: <%= c.comision %> - Turno: <%= c.turno %> - Capacidad: <%= c.cantidadalumnos %></p>          
                    <% end %>
                    <% end %>

                    <% curso_tn_sort.each do |c| %>
                    <% if !c.asignado && c.cantidadalumnos <= max %>                    
                    <p>Curso: <%= c.nombre %> - Carrera: <%= c.carrera %> - Comision: <%= c.comision %> - Turno: <%= c.turno %> - Capacidad: <%= c.cantidadalumnos %></p>          
                    <% end %>
                    <% end %>



            <% else %>
            
            <p> no hay <%= @cursoscargados %> cursos cargadas </p>

            <% end if %>




<% else %>

<p> No hay aulas cargadas </p>
<p> Estos cursos no podrán ubicarse:</p>

<% @cursostodos.each do |p| %>
<p>Curso: <%= p.nombre %> - Comision: <%= p.comision %> - Turno: <%= p.turno %> - Capacidad: <%= p.cantidadalumnos %></p>
<% end %>

<% end %>



 
